language: ruby
bundler_args: --without release
cache: bundler
sudo: false
rvm:
  - 2.3.2
script:
# We cannot run integration tests on travis since that uses vagrant/virtualbox and
# is not available in travis ci
  - bundle exec rake unit
  - bundle exec rake style
